<html lang="en">
  <!-- head -->
  <%- include("./partials/head.ejs") %>

  <body>
    <!-- nav -->
    <%- include("./partials/nav.ejs") %>

    <!-- content -->
    <div class="not-found content">
      <h1>OOPS, page not found :)</h1>
    </div>

    <!-- footer -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
