<html lang="en">
  <!-- head -->
  <%- include("./partials/head.ejs") %>

  <body>
    <!-- nav -->
    <%- include("./partials/nav.ejs") %>

    <!-- content -->
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae dolor
        illum a eum quam sed autem, doloremque laudantium in vero amet
        consequatur, voluptatem earum dolore aut eos, soluta fuga debitis? Ex
        sed quibusdam tempore non? Ut sit autem explicabo est eum
        exercitationem, nesciunt, iure voluptas architecto assumenda quis.
        Perspiciatis, voluptates repellendus. Ipsum quisquam esse beatae fugit
        culpa, praesentium similique doloribus laboriosam perferendis
        dignissimos! Numquam quo adipisci beatae tempore maiores soluta quae
        labore quas ipsam, blanditiis, neque deserunt doloremque illum eum eius
        nam animi ex rem fuga recusandae non dolorum? Et ex architecto nobis
        laudantium, odit recusandae velit ipsa consectetur? Amet.
      </p>
    </div>
    <!-- footer -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
